
#back{

border-left: 1px solid black;
margin-left: 110px;
margin-right: 34px;
margin-top: 24px;

}
#dec{
margin-left: 7%;
padding: 10px;
}
#fontstyle{
     border-radius: 50px;
     background-color: white;
     position: fixed;
     height: 100px;
     margin-left: -50px;
     margin-top: 290px;
     width: 100px;
}
#constant1{
  background-color:660033 ;
  position: fixed;
  width: 1400px;
  height: 100px;
  margin-left: -93px;
  margin-top: -40px;
}
#constant2{
     background-color: white;
     position: fixed;
     height: 130px;
     margin-left: -50px;
     margin-top: -40px;
     width: 100px;
}
#constant3{
     background-color: white;
     position: fixed;
     height: 90px;
     margin-left: -50px;
     margin-top: 570px;
     width: 100px;
}
